@import '~node_modules/modern-normalize/modern-normalize.css';
button{
    cursor: pointer;
    border: none;
}
input {
    outline: none;
    border: none;
}
.size {
    &__lagre{
        width: 80px;
        height: 40px;
    }
}